
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main";

* {
    font-family: "Italiana", sans-serif;
    font-weight: 900;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #010170e1;
}



