main {
    /* background-image: url(../img/backgoundHeader.jpg);*/
    background-color: #c5c5c788;

}



.main-card-articulo {
    background-color: #c7c5c50a;
    width: 25rem;
    text-align: center;
}

.main-card-articulo img {

    width: 100%;
}